/* Reduce footer height */
footer.footer {
  padding: 1rem 1.5rem !important;
}

footer.footer .footer-column {
  margin-bottom: 1rem !important;
}

/* Highlight active menu item */
.navbar-item.is-active {
  color: #00d1b2 !important;
  font-weight: 600 !important;
  border-bottom: 2px solid #00d1b2 !important;
}

/* Remove active styling from logo */
.navbar-brand .navbar-item.is-active {
  border-bottom: none !important;
}

/* Make logo 20% bigger */
.navbar-brand .navbar-item img {
  transform: scale(1.2);
}
